<div class="container">
  <div class="css-stopwatch">
    <p class="css-output output-time"></p>
    <div class="css-stopwatch-body">
      <button class="css-button start-button"><img class="flag-pic" 
        src="assets/stopwatch/play.png"></button>
      <button class="css-button stop-button"><img class="flag-pic" 
        src="assets/stopwatch/pause.png"></button>
      <button class="css-button reset-button"><img class="flag-pic" 
        src="assets/stopwatch/stop2.png"></button>
      <button class="css-flag-button flag-button"><img class="flag-pic" 
        src="assets/stopwatch/stopwatch.png"></button>
      <div class="temp-message"></div>
      <div class="css-flag-output flag-output"></div>
    </div>
  </div>
</div>