.container{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.css-stopwatch-body{
  align-items: start;
  
}
/* .css-stopwatch{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(65, 65, 65);
  border: none;
  border-radius: 15px;
  box-shadow: 1px 3px 1px rgba(204, 204, 204, 0.25);
  min-height: 250px;
  width: 350px;
  margin: 40px;
   */
  
 
.css-flag-button,
.css-button{
  font-size: 15px;
  width: 65px;
  height: 35px;
  margin-bottom: 20px;
  margin-right: 3px;
  background-color: rgb(41, 41, 41);
  color: white;
  border: solid;
  border-radius: 10px;
  border-color: rgb(207, 207, 207);
  border-width: 2px;
  font-weight: bold;
  cursor: pointer;
  padding: 7px;
  transition: 0.3s
}
.css-button:hover,
.css.css-flag-button:hover{
  background-color: rgb(49, 49, 49);
}
.css-button:active,
.css-flag-button:active{
  opacity: 0.8;
}
.flag-pic{
  width: 15px;
}
.css-output,
.css-flag-output{
  color: white;
  margin-bottom: 25px;
  margin-top: 25px;
}
.css-output{
  width: 150px;
}
.css-output{
  font-size: 35px;
}

.temp-message{ 
  color: rgb(243, 167, 167);
  font-weight: bold;
  height: 20px;
}
